<div class="form-data" data-controller="forecast">
  <h1>Get weather forecast for a location</h1>

  <%= form_with(method: 'get', local: true) do |form| %>
    <%= form.search_field :address, value: @address, data: {forecast_target: "field", action: "keydown->forecast#keydown"} %>
    <%= form.submit "Get Forecast" %>
  <% end %>
</div>